/* import google fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body styling*/

body{
    font-family: "Roboto","Helventica","Arial";
    font-weight: 100;
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    font-size: 12px;
    line-height: 30px;
    color: rgb(129, 128, 128);
    /* background: rgb(76, 228, 76); */
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#Tasks input[type="text"],
#Tasks button[type="sumit"] {
    font: 400 12px/16px "Roboto","Helvetica","Arial";
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

/*Styling the forms*/
#Tasks {
    background: #F9f9f9;
    padding: 25px;
    margin-top: 150px;
    box-shadow: 0 0 20px o rgba(0, 0, 0, 0.4), 0.5px 0; 
}

#fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#Tasks input[type="text"]:hover{
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#Tasks button[type="submit"]{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4caf50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#Tasks button [type="submit"]:hover{
    background: #43a047;
}

.table {
    background: #F9f9f9;
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*Styling table head*/

.table thead tr{
    background-color: #009879;
    color: #ffffff;
    font-size: 23px;
    text-align: left;
} 

.table th, .table td{
    padding: 12px 15px;
}

.table tbody tr{
    font-size: 15px;
}

.table tbody tr :active-row{
    font-weight: bold;
    color:#009879;
}

.table a {
    background-color: #ce1818;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

#Tasks h3{
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}







